:root {
    --blanco: #FFFFFF;
    --verdeOscuro: #2E7D32;
    --negro: #000000;
    --rojoOscuro: #C62828;
    --fondoMedio: lightblue;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('../fonts/OpenDyslexic-Regular.woff2') format('woff2'),
        url('../fonts/OpenDyslexic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('../fonts/OpenDyslexic-Bold.woff2') format('woff2'),
        url('../fonts/OpenDyslexic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

* {
    font-family: 'OpenDyslexic', sans-serif;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 10px;
    background-color: #000;
    color: #fff;
    padding: 8px;
    z-index: 100;
    text-decoration: none;
}

.skip-link:focus {
    top: 10px;
}